@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Orbitron:wght@900&display=swap');
:root {
  --primary: #662483;
  --secondcolor: #37E1A1;
  --thirdcolor: #F0FF02;
  --font: 'Comfortaa', cursive, sans-serif ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}


/* Navbar Styling **** END */
.navbar {
  background-color: white;
  color: #740174;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  position: sticky;
  top: 0;
  z-index: 999;

}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  max-width: 1500px;
  padding-right: 100px;
  padding-left: 100px;

}

.navbar-logo {
  color: #740174;
  margin-left: 20px;
  cursor: pointer;
}
.navbar-logo img {
  height: 65px;
  margin-top: 5px;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: end;
}

.nav-item {
  height: 60px;
}

.nav-links {
  color: #740174;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #740174;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #740174;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
.navbar-container > .btn--primary{
  min-width: 100px;
  transition: 0.5s;
}
.navbar-container > .btn--primary:hover{
  color: var(--primary);
  font-weight: 800;
  border-color: #37E1A1;
  background-color: var(--secondcolor);
}

@media screen and (max-width: 820px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 95vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

/* Navbar Styling **** END */
/* Section-one Styling **** START */
.section-one{
  background-image: url('images/background1-simple.JPG');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  object-fit:inherit;
}

.image-section{
  width: 600px;
  justify-content: center;
  align-items: center;
  margin-bottom: -40px;
  padding-left: 60px;
}

.intro-container{
  /* background: url('images/img-home.jpg') center center/cover no-repeat; */
  width: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10vh;
  margin-bottom: 10vh;

}

.intro-container > h1 {
  color: var(--primary);
  font-size: 60px;
  margin-bottom: 16px;
}

.intro-container > p {
  color: var(--primary);
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 16px;
  padding-left: 20px;

  font-family: var(--font);
}

.intro-btns > .btn--primary{
  width: 190px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  transition: 0.5s;
}
.intro-btns > .btn--primary:hover{
  border-color: var(--primary);
  color: var(--primary);
  font-size: 14px;
  font-weight: 800;
  background-color: #fff;
}
.intro-btns > .btn--outline{
  width: 190px;
  height: 50px;
  margin: 5px;
  padding: 5px;
}
.intro-btns > .btn--outline:hover{
  border-color: #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  background-color: var(--primary);
}
.intro-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.fa-play-circle {
  margin-left: 32px;
}

/* Section-one Styling **** END */

/* Section-two Styling **** START */
.section-two{
  background-image: url('images/background2.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.yellow-hex{
  margin-left: -25px;
  z-index: 2;
  display: flex;
}
.yellow-hex img{
  width: 120px;
  margin-top: 400px;

}
.video-container > iframe{
  margin-left: 95px;
}
@media screen and (max-width: 820px){
  .yellow-hex{
    margin-left: -20px;
    z-index: 2;
    display: flex;
  }
  .yellow-hex img{
    width: 10vw;
    margin-top: 55vw;
  
  }
  .video-container > iframe{
    margin-left: 6vw;
  }
}
.section-three{
  background-image: url('images/background3.JPG');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding-bottom: 40px;
  margin-top: 30px;
}
/* Section-two Styling **** END */

/* Cards styling *** START */

.cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  font-family: var(--font);
  position: relative;
  overflow: hidden;
  margin: 15px;
  min-width: 300px;
  max-width: 350px;
  width: 100%;
  background-color: #ffffff;
  color: #2B2B2B;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.card figcaption {
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: calc(25%);
  background-color: #ffffff;
}

.card h2 {
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
  margin: 20px 0;
}

.card h5 {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
}

.card footer {
  border-top: 1px solid rgba(0, 0, 0, 0.065);
  padding: 0 20px;
  font-size: 16px;
  line-height: 50px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--secondcolor);
}


.card a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

/* Cards styling *** END */



/* button styling **** START */


.btn--primary {
  background-color: var(--primary);
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--thirdcolor);
  border: 1px solid var(--primary);
}

.btn--outline {
  padding: 8px 20px;
  border-radius: 2px;
  cursor: pointer;
  background-color: transparent;
  color: #740174;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

/* button styling **** END */







/* Footer styling **** START */
.footer-container{
  background-color: var(--primary);
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form > .btn--primary{
  height: 42px;
  background-color: var(--secondcolor);
  color: var(--primary);
  transition: 0.5s ease-out;
  font-weight: 800;
  border-radius: 5px;
}
form > .btn--primary:hover{
  color: var(--primary);
  font-weight: 800;
  background-color: var(--thirdcolor);
}
.footer-subscription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 24px;
  color:aliceblue;
}
.footer-subscription > p{
  font-family:var(--font);
}
.footer-subscription-heading{
  margin-bottom: 26px;
  font-size: 24px;
}
.footer-subscription-text{
  margin-bottom:22px;
  font-size: 18px;
}
.footer-input{
  padding: 10px 10px;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
  border:none;
  font-size: 16px;
  margin-bottom: 18px;
  border: 1px solid #fff;
}

.footer-link{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}
.footer-link-wrapper{
  display: flex;
}
.footer-link-items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px;
  text-align: center;
  width: 180px;
  box-sizing: border-box;

}
.footer-link-items h2 {
  color:#fff;
  margin-bottom: 10px;
}
.footer-link-items a{
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-link-items a:hover{
  color: #d8d8d8;
  transition: 0.3s ease-in;
}

.footer-input::placeholder{
  color: #c2c2c2;
}

/* Social media icons design*/
.social-icon-link{
  color: #c3c3c3;
  font-size: 22px;
}
.social-media{
  max-width: 1000px;
  width: 100%;
}
.social-media-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}
.social-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}
.social-logo{
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-self: center;
  margin-bottom: 18px;
}

.website-rights{
  color:#fff;
  margin-bottom: 14px;
}

/* design for mobile version */
@media screen and (max-width: 820px){
  .intro-btns > .btn--primary{
    width: 300px;

  }
  .intro-btns > .btn--outline{
    width: 300px;
  }
  .footer-links{
    padding-top: 1.5rem;

  }
  .footer-input{
    width: 80%;
  }
  .footer-link-wrapper{
    flex-direction: column;
  }
  .social-media-wrap{
    flex-direction: column;
  }

  .video-container{
    width: 560px;
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56%;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
  }
  .video-container iframe{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position:absolute;
  }
  form > .btn--primary{
    width: 250px;
    background-color: var(--secondcolor);
    color: var(--primary);
    transition: 0.5s;
    border-radius: 5px;
  }
  form > .btn--primary:hover{
    color: var(--primary);
    font-size: 16px;
    height: 60px;
    background-color: var(--thirdcolor);
  }
}


/* Footer styling **** END */